# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Virtual environment folders
venv/
env/
ENV/
.venv/
recipieVisionEnv/
# VS Code
.vscode/

# Environment variables
.env
